extends ../skeleton.pug

block append html_js
  script(src='https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js')

block content
  .container
    .grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
        each pic in pics
          - let owner = pic.user;
          - let ownerName = owner.twitter.username;
          article.picContainer.grid-item(id=pic.id)
            .thumbnail
              a(href="/pics/" + ownerName)
                img(width="182", src=pic.url, alt=pic.title)
              .caption
                h4.text-center #{pic.title}
                .btn-group
                  button.action.btn.btn-sm.btn-info(value="toggleLike")
                    span.glyphicon.glyphicon-thumbs-up
                  button.action.btn.btn-sm.btn-danger(value="remove")
                    span.glyphicon.glyphicon-remove
  #picTemplate(style='display: none')
    - let thisUserName = (user)? user.twitter.username : '';
    article.grid-item.picContainer
      .thumbnail
        a(href="/pics/" + thisUserName)
          img.picImg(width="182", src='', alt='')
        .caption
          h4.picTitle.text-center
          .btn-group
            button.action.btn.btn-sm.btn-info(value="toggleLike")
              span.glyphicon.glyphicon-thumbs-up
            button.action.btn.btn-sm.btn-danger(value="remove")
              span.glyphicon.glyphicon-remove

block append js
  script(type='text/javascript', src='/controllers/pic.client.js')
  script.
    var grid = document.querySelector('.grid');
    var msnry = new Masonry( grid, {
      itemSelector: '.grid-item',
      columnWidth: 200
    });
    var masonryAppend = (elem) => {
      grid.insertBefore(elem, grid.firstChild);
      msnry.prepended( elem );
      msnry.layout();
    }
