block html
  doctype html
  html(lang='en')
    head
      block meta
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Share pics and enjoy')
        meta(name='author', content='Juan Cardona')
      block title
        title My Pics Wall
      block css
        link(href='/public/css/main.css', rel='stylesheet', type='text/css')
        link(href='/public/css/pace_corner.css', rel='stylesheet', type="text/css")
        block bootstrap
          link(rel='stylesheet', href="/bootstrap/css/bootstrap.min.css")
          link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
      block html_js
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='/js/jquery/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='https://raw.github.com/HubSpot/pace/v1.0.2/pace.min.js')
    block body
      body
        .container-fluid
          block navbar
            include ./components/navbar.pug
          .myContent
            block content
          block footer
            include ./components/footer.pug
        block js
          script(type='text/javascript', src='/common/ajax-functions.js')
          script(type='text/javascript', src='/common/helper.js')
          script(type='text/javascript', src='/common/errorHandler.js')
          script(type='text/javascript', src='/common/validator.js')
